<div class="p-5 text-center">
  <h1>{{title}}</h1>
  <p>No puede acceder a <strong>{{method}} {{url}}</strong>, ya que {{message}}</p>

  <p><a href="/">Volver al inicio</a> | <a href="/login">Identificarse</a></p>
</div>
